* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    overflow-x: hidden; 
    box-sizing: border-box;
    min-height: 650vh;
}

header {
    background-color: rgb(1, 1, 48);
    border: 0;
    padding: 0;
    font-family: Sans-serif;
}

/* Rest of the CSS as is */
.head {
    display: flex;
    padding: 2em;
}

.head1 {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -12px;
    color: white;
}

.head2 {
    flex: 2;
    color: white;
    position: relative;
    left: 20px;
}

.head3 {
    flex: 1;
    color: white;
    display: flex;
    gap: 80px;
}

.head2 .main {
    display: flex;
    gap: 30px;
}

.head2 ul {
    list-style-type: none;
}

.platform-dropdown,.solution-dropdown {
    position: relative;
    top: 40px;
}

.platform-dropdown {
    display: flex;
    gap: 20px;
    left: -35px;
}

.platform-dropdown .one {
    min-width: 150px;
}

.solution-dropdown {
    display: flex;
    gap: 20px;
    position: relative;
    left: -30px;
}

.solution-dropdown .one-b,.two-b,.three-b {
    min-width: 120px;
}

.head2 ul .solutionbutton {
    position: relative;
    left: -230px;
}

.customer-stories,.pricing,.resources {
    position: relative;
    left: -600px;
}

.one a,.two a,.one-b a,.two-b a,.three-b a {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    text-wrap: nowrap;
    font-size: 17px;
    text-decoration: none;
    color: black;
}

.one a:hover,.two a:hover,.one-b a:hover,.two-b a:hover,.three-b a:hover {
    color: rgb(129, 2, 248);
}

.h1,.h2,.h3,.h4,.h5 {
    color: gray;
}

.platform-dropdown,.solution-dropdown {
    background-color: white;
    padding: 2em;
}

.platformbutton .platform-dropdown {
    visibility: hidden;
}

.solutionbutton .solution-dropdown {
    visibility: hidden;
}

.aa {
    font-weight: bolder;
    font-size: large;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: rgb(129, 2, 248);
    text-decoration-thickness: 5px;
    text-underline-offset: 10px;
}

.up1,.up2 {
    position: relative;
    top: 5px;
}

.head2 .platformbutton:hover .platform-dropdown {
    cursor: pointer;
    visibility: visible;
    z-index: 1;
}

.head2 .solutionbutton:hover .bb {
    text-decoration: underline;
    text-decoration-color: rgb(129, 2, 248);
    text-decoration-thickness: 5px;
    text-underline-offset: 10px;
}

.head2 .solutionbutton:hover .solution-dropdown {
    cursor: pointer;
    visibility: visible;
    z-index: 1;
}

.customer-stories {
    text-wrap: nowrap;
}

.bb:hover,.customer-stories:hover,.pricing:hover,.resources:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: rgb(129, 2, 248);
    text-decoration-thickness: 5px;
    text-underline-offset: 10px;
}

.bb,.customer-stories,.pricing,.resources {
    font-weight: bolder;
    font-size: large;
}

.head3 a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    position: relative;
    top: 18px;
    font-weight: bolder;
    cursor: pointer;
}

.head3 a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(129, 2, 248);
    text-decoration-thickness: 5px;
    text-underline-offset: 10px;
}

.start {
    text-align: center;
    transition-property: background-color;
    transition-duration: 1s;
}
.start h3{
    border: solid white;
    text-wrap: nowrap;
    padding: 1.2em;
}
.start:hover {
    cursor: pointer;
    color: black;
    background-color: white;
}

.landinghead {
    max-width: 50vw;
    color: gold;
    font-size: 50px;
    position: relative;
    top: -200px;
    left: 100px;
    animation-name: landing;
    animation-duration: 1.5s;
}

@keyframes landing {
    0% {
        font-size: 0px;
    }
}

.headdetails {
    max-width: 40vw;
    color: whitesmoke;
    font-size: 30px;
    position: relative;
    top: -150px;
    left: 100px;
}

.startbutton {
    color: black;
    background-color: white;
    width: 150px;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    left: 100px;
    top: -110px;
    transition-duration: 0.5s;
    transition-property: background-color;
    transition-timing-function: ease-in-out;
}

.startbutton:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(128, 128, 128);
}

.trial {
    position: relative;
    top: -70px;
    left: 100px;
    font-size: 20px;
    color: yellow;
}

.landimg {
    float: right;
    position: relative;
    top: -180px;
}

.logos img {
    height: 140px;
    width: 200px;
    color: gray;
}

.logos {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    position: relative;
    padding: 2em;
}

.logos img:hover {
    transform: scaleY(1.5);
}

.logos .mon img:hover {
    transform: scaleY(1.2);
}

.quote {
    margin-top: 150px;
    margin-left: 390px;
    font-size: 40px;
    color: rgb(1, 1, 48);
}

.quote span {
    margin-left: 160px;
}

.quote p {
    font-size: 25px;
}

main {
    font-family: Sans-serif;
}
.webdet{
    margin-top: 100px;
}
.webdet img {
    float: left;
}

.webdet .webdettext {
    max-width: 550px;
    position: relative;
    left: 1200px;
    top: -600px;
}

.webdet .webdettext h1 {
    font-size: 60px;
    color: rgb(1, 1, 48);
}

.webdet .webdettext p {
    font-size: 20px;
    line-height: 1.5;
}

.sl {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    width: 85%;
}

.slider-img {
    display: flex;
    gap: 40px;
    width: calc(300px * 9);
    animation: scroll 20s linear infinite;
}

.slide {
    width: 300px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 100px;
}

.slide img {
    width: 90%;
    height: 350px;
    border: 2px solid #ddd;
    border-radius: 5px;
}

@keyframes scroll {
    0% {
        transform: translateX(5%);
    }
    100% {
        transform: translateX(-50%);
    }
}

img:hover {
    transform: translateZ(15px);
}

.slider-img:hover {
    gap: 40px;
    animation-play-state: paused;
}

.slide .down {
    position: relative;
    top: 400px;
    left: -280px;
    width: 100%;
    height: 350px;
}

.slide .down h2,.slide .down p {
    width: 300px;
    font-size: 20px;
}

.down a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    position: relative;
    top: 30px;
}

.slider-img .slide .down h2 {
    font-size: 25px;
}

.down a:hover {
    text-decoration: underline;
    text-decoration-color: black;
    text-underline-offset: 3px;
}

.hd h1 {
    font-size: 75px;
    width: 75vw;
    margin-left: 130px;
    position: relative;
    top: -110px;
}

.sl {
    margin-top: -190px;
}

.seemore a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    position: relative;
    top: 240px;
    left: 150px;
    border: 3px solid black;
    padding: 20px;
    font-weight: bolder;
    transition-property: background-color;
    transition-duration: 1s;
}

.seemore a:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(1, 1, 48);
}

.rate {
    position: relative;
    top: 500px;
    width: 70vw;
    margin-left: 50px;
    font-size: 80px;
    font-weight: bolder;
}

.boxes {
    position: relative;
    top: 700px;
    display: flex;
    justify-content: space-around;
    font-size: 1.5em;
}

.boxes table {
    border: 4px solid black;
    padding: 1.25em;
    transition-property: background-color;
    transition-duration: 1s;
}

.boxes table:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(1, 1, 48);
}

.boxes table tr td i {
    font-size: 40px;
}

.foot {
    position: relative;
    top: 100vh;
    display: flex;
    justify-content: space-around;
    font-size: 25px;
}

.foot table tr td a {
    position: relative;
    top: 30px;
    text-decoration: none;
    color: gray;
    display: flex;
    margin-top: 12px;
}

.foot table tr td a:hover {
    cursor: pointer;
    color: rgb(129, 2, 248);
}

footer hr {
    position: relative;
    bottom: -1000px;
    width: 75vw;
}

.symbols {
    position: relative;
    top: 115vh;
    display: flex;
}

.sy1 {
    font-size: 40px;
    flex: 2;
    display: flex;
    justify-content: center;
    gap: 30px;
}

#copyright {
    font-size: 30px;
    flex: 2;
    justify-content: flex-start;
}

.sy1 i {
    color: white;
    background-color: black;
    border: 2px solid black;
    padding: 5px;
}

.sy1 i:hover {
    background-color: rgb(129, 2, 248);
    color: white;
}

#copyright span:hover {
    color: rgb(129, 2, 248);
}

footer {
    font-family: sans-serif;
}